{% extends "frontend/layout.html" %}
{% load static %}

{% block body %}
<div id="app">
    <div class="grid-container">
        <div></div>
        <!-- Nav Panel -->
        <div class='left-panel'>
            {% include "frontend/navbar.html" %}
        </div>
        <!-- Main Content -->
        <div class='mid-panel'>         
            {% if user.is_authenticated %}
                <div id='userauth' style='display: None;'></div>
            {% endif %}
            <!-- <keep-alive :max=2> -->
            <new-post
                :post-params='postParams'
                @edit-ok='updateContent($event)'
                @post-ok='addContent($event)' 
                @comment-ok='addComment($event)'
                @action-clear='clearPost()'
            ></new-post>
            <div class="info-panel m-0">
                <h4 class="page-title m-0">[[ pageTitle ]]</h4>
            </div>
            <router-view ref="profile" name="profile"></router-view>
            <router-view ref="infos" name="infos"></router-view>
            <router-view ref="posts" name="posts" @action-post='postParams=$event'></router-view>
            <router-view ref="post" name="post" @action-post='postParams=$event'></router-view>
            <!-- </keep-alive> -->
        </div>
        <!-- Discovery Panel -->
        <div class="right-panel">
            <div class="position-fixed discover-panel">
                <!-- <router-view ref="gallery" name="gallery"></router-view> -->
                <div>
                    <trends-view :users='trending.users'
                                :posts='trending.posts'
                                :hashtags='trending.hashtags'
                                @user-ok='updateUser($event)'
                    />
                </div>
                <div class="text-center text-muted">
                    <small>Copyright &copy; 2020 Sean Zhao</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'frontend/tinytwitter.js' %}"></script>

{% endblock %}