{% extends "frontend/layout.html" %}
{% load static %}

{% block body %}
<div id="app">
    {% include "frontend/navbar.html" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 main-content">
                {% if request.user.is_authenticated %}
                <new-post class="mb-2" v-if="pathname==='/'"></new-post>
                {% csrf_token %}
                {% endif %}
                <keep-alive :max=2>
                    <router-view></router-view>
                </keep-alive>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>

{% endblock %}