<nav class="navpanel navbar">
    <div class="navpanel-top d-flex align-items-center">
        <a class="navbar-brand" href="#"><h2>Le Petit Twitter</h2></a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <router-link :to="{ name: 'all' }" class="nav-link">All Posts</router-link>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Notifications</a>
            </li>
            <li class="nav-item">
                <router-link :to="{ name: 'user', params: {username: '{{ user.username }}' } }" class="nav-link">
                    Profile
                </router-link>
            </li>
            <li>
                <b-button v-b-modal.new-post variant="primary" class="rounded-pill py-1">Post</b-button>
            </li>
            {% endif %}
        </ul>
    </div>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
</nav>