<nav class="navbar flex-nowrap">
    <div class="flex-column d-flex align-items-center">
        <router-link exact :to="{ name: 'home' }" class="">
            <h2><b-icon icon="globe2"></b-icon></h2>
        </router-link>
        <ul class="navbar-nav">
            <li class="nav-item">
                <router-link :to="{ name: 'all' }" class="text-center text-xl-left nav-link">
                    <b-icon icon="chat-left-text"></b-icon>
                    <span class="nav-text">All Posts</span>
                </router-link>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <router-link exact :to="{ name: 'home' }" class="text-center text-xl-left nav-link">
                    <b-icon icon="house-door"></b-icon>
                    <span class="nav-text">Home</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{ name: 'notificationsReplies' }" class="text-center text-xl-left nav-link">
                    <b-icon icon="bell"></b-icon>
                    <span class="nav-text">Notifications</span>
                    <span v-if='user.notifications' class="badge badge-pill badge-danger">[[user.notifications]]</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{ name: 'user', params: {username: '{{ user.username }}' } }" class="text-center text-xl-left nav-link">
                    <b-icon icon="person"></b-icon>
                    <span class="nav-text">Profile</span>
                </router-link>
            </li>
            <li class="nav-item">
                <b-button v-b-modal.new-post variant="primary" class="rounded-circle p-sm-2 p-1 nav-icon">
                    <b-icon icon="vector-pen"></b-icon>
                </b-button>
                <b-button v-b-modal.new-post variant="primary" class="rounded-pill px-5 nav-text">
                    <span>Post</span>
                </b-button>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="flex-column d-flex align-items-center">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="text-center text-xl-left nav-link" href="{% url 'logout' %}">
                    <b-icon icon="door-closed"></b-icon>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="text-center text-xl-left nav-link" href="{% url 'login' %}">
                    <b-icon icon="door-closed"></b-icon>
                    <span class="nav-text">Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="text-center text-xl-left nav-link" href="{% url 'register' %}">
                    <b-icon icon="person-bounding-box"></b-icon>
                    <span class="nav-text">Register</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>