#project4 {

}

.navbar {
    height: 5vh;
}

.container {
    background-color: #f4f6f6;
    min-height: 95vh;
}

.card-view {
    white-space: pre-line;
    max-height: 300px;
    -webkit-line-clamp: 6;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.btn-transparent {
    background-color: Transparent;
    border-color: #fff;
}

.card-button {
    color: #909090;
}

.card-button-active {
    color: red;
}

.list-enter-active {
    animation: list-appear 0.5s;
    animation-timing-function: linear;
}
.list-leave-active {
    animation: list-appear 0.5s reverse;
    animation-timing-function: linear;
}
@keyframes list-appear {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    50% {
        opacity: 0;
        max-height: 360px;
    }
    100% {
        opacity: 1;
        max-height: 360px;
    }
}