.container{
    background-color: #f4f6f6;
}

.btn-transparent {
    background-color: Transparent;
    border-color: #fff;
}

.card-button {
    color: #909090;
}

.card-button-active {
    color: red;
}

.list-enter-active {
    animation: list-appear 0.8s;
    animation-timing-function: ease-in-out;
}
.list-leave-active {
    animation: list-appear 0.8s reverse;
    animation-timing-function: ease-in-out;
}
@keyframes list-appear {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    50% {
        opacity: 0;
        max-height: 200px;
    }
    100% {
        opacity: 1;
        max-height: 200px;
    }
}