.grid-container {
    display: grid;
    grid-template-columns: 20% 15% 30% 15% 20%;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.navpanel {
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}
.navpanel-top {
    flex-direction: inherit;
}

.navpanel a {
    font-size: 1.1em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.navbar-nav {
    margin: 4em auto 0 15%;
}
.navbar-nav li {
    margin: 0.5em 0;
}

@media (max-width: 991.98px) {
    .grid-container {
        grid-template-columns: 5% 22% 45% 22%;
    }
    .navpanel {
        width: 22%;
    }
    .navbar-nav {
        margin: 3em auto 0 5%;
    }
}

@media (max-width: 767.98px) {
    .grid-container {
        grid-template-columns: 0% 20% 80%;
    }
    .navpanel {
        width: 20%;
    }
    .navbar-nav {
        margin: 2em auto 0 3%;
    }
}

.card-view {
    white-space: pre-line;
    max-height: 300px;
    -webkit-line-clamp: 6;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.btn-transparent {
    background-color: Transparent;
    border-color: #fff;
}


.list-enter-active {
    animation: list-appear 0.5s;
    animation-timing-function: linear;
}
.list-leave-active {
    animation: list-appear 0.5s reverse;
    animation-timing-function: linear;
}
@keyframes list-appear {
    0% {
        opacity: 0;
        /* max-height: 0px; */
    }
    /* 50% {
        opacity: 0;
        max-height: 360px;
    } */
    100% {
        opacity: 1;
        /* max-height: 360px; */
    }
}