.grid-container {
    display: grid;
    grid-template-columns: 20% 15% 30% 15% 20%;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.navbar {
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}
.navbar a {
    font-size: 1.1em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.navbar-nav {
    margin: 4em auto 0 auto;
}
.navbar-nav li {
    margin: 0.5em 0;
}
.nav-icon {
    display: none;
}

@media (max-width: 1199.98px) {
    .grid-container {
        grid-template-columns: 15% 10% 40% 20% 15%;
    }
    .navbar {
        width: 10%;
    }
    .nav-icon {
        display: block;
    }
    .nav-text {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .grid-container {
        grid-template-columns: 5% 10% 57% 23% 5%;
    }
    .navbar {
        width: 10%;
    }
    .navbar-nav {
        margin: 3em auto 0 auto;
    }
}

@media (max-width: 767.98px) {
    .grid-container {
        grid-template-columns: 0% 15% 85% 0% 0%;
    }
    .navbar {
        width: 15%;
        padding: .5rem 0;
    }
    .navbar-nav {
        margin: 0 auto;
    }
}

.btn-transparent {
    background-color: Transparent;
    border-color: #fff;
}


.list-enter-active {
    animation: list-appear 0.5s;
    animation-timing-function: linear;
}
.list-leave-active {
    animation: list-appear 0.5s reverse;
    animation-timing-function: linear;
}
@keyframes list-appear {
    0% {
        opacity: 0;
        /* max-height: 0px; */
    }
    /* 50% {
        opacity: 0;
        max-height: 360px;
    } */
    100% {
        opacity: 1;
        /* max-height: 360px; */
    }
}