.visitor-page {
    display: grid;
    place-items: center;
    width: 75%;
    margin: 5em auto;
}
.visitor-form {
    padding: 5% 10% 10% 10%;
    border: 1px solid rgb(119, 114, 114);
    border-radius: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 240px 600px 320px auto;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.navbar {
    position: fixed;
    width: 240px;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}
.navbar a {
    font-size: 1.1em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.navbar-nav {
    margin: 4em auto 0 auto;
}
.navbar-nav li {
    margin: 0.5em 0;
}
.nav-icon {
    display: none;
}

@media (max-width: 1199.98px) {
    .grid-container {
        grid-template-columns: auto 60px 600px 320px auto;
    }
    .navbar {
        width: 60px;
        height: 100vh;
    }
    .nav-icon {
        display: block;
    }
    .nav-text {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .grid-container {
        grid-template-columns: auto 60px 520px 180px auto;
    }
    .navbar {
        height: 100vh;
    }
    .navbar-nav {
        margin: 3em auto 0 auto;
    }
}

@media (max-width: 767.98px) {
    .grid-container {
        grid-template-columns: auto 60px 510px 0 auto;
    }
    .navbar {
        height: 100vh;
    }
    .navbar {
        padding: .5rem 0;
    }
    .navbar-nav {
        margin: 0 auto;
    }
}

@media (max-width: 575.98px) {
    .grid-container {
        grid-template-columns: 0 40px auto 0 0;
    }
    .navbar {
        width: 40px;
        height: 100vh;
    }
    .navbar-nav{
        font-size: 0.75em;
    }
    .navbar-nav .btn{
        font-size: 1.5em;
    }
}

.btn-transparent {
    background-color: Transparent;
    border-color: #fff;
}


.list-enter-active {
    animation: list-appear 0.5s;
    animation-timing-function: linear;
}
.list-leave-active {
    animation: list-appear 0.5s reverse;
    animation-timing-function: linear;
}
@keyframes list-appear {
    0% {
        opacity: 0;
        /* max-height: 0px; */
    }
    /* 50% {
        opacity: 0;
        max-height: 360px;
    } */
    100% {
        opacity: 1;
        /* max-height: 360px; */
    }
}